
#zhongqiujie {
  background: var(--blue);
  color: var(--yellow);
  transition: background 0.5s ease;
}

.link, .nested-links a {
  color: var(--yellow);
}

.link a:hover, .nested-links a:hover, .date:hover {
  color: var(--lavendar);
}